In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Butaritari,18,KI,2021-03-28 13:43:59,79,3.0707,172.7902,80.92,12.08
1,1,Coquimbo,90,CL,2021-03-28 13:43:59,82,-29.9533,-71.3436,59.00,5.75
2,2,Norman Wells,75,CA,2021-03-28 13:43:59,71,65.2820,-126.8329,-0.40,17.27
3,3,Hofn,75,IS,2021-03-28 13:44:00,69,64.2539,-15.2082,35.60,19.57
4,4,Ushuaia,40,AR,2021-03-28 13:39:23,65,-54.8000,-68.3000,44.60,29.93

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Cloudiness      int64
Country        object
Date           object
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

1 Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
2 Assign the weights variable to some values.
temperatures = [] # an array of length equal to the locations array length
3 Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
4 Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
5 Add the heatmap layer.
fig.add_layer(heatmap_layer)
6 Call the figure to plot the data.
fig

# Heatmap of temperature

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"] # Google heatmaps do not plot negative 0F temperatures and you get InvalidWeightException error 
#method 1 | temps = []
        #for temp in max_temp:
#    temps.append(max(temp, 0)) # get max of temp or 0, whichever is higher
#method 2 | temps = [max(temp, 0) for temp in max_temp]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
# see line below | heat_layer = gmaps.heatmap_layer(locations, weights=temps) # weights=max_temp swapped to default negative to 0F
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Redoing map to look cleaner 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# see line below | heat_layer = gmaps.heatmap_layer(locations, weights=temps) # weights=max_temp swapped to default negative to 0F
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#modifying code for more intensity and centered in the US
fig = gmaps.figure(center=(40.0, -95.0), zoom_level=3)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#modifying code for more intensity
#gmaps.figure(display_toolbar=True, display_errors=True, zoom_level=None, tilt=45, center=None, layout=None, map_type='ROADMAP', mouse_handling='COOPERATIVE')
fig = gmaps.figure(center=(40.0, -74.0), zoom_level=5, map_type='HYBRID')
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

# Heatmap of % Humidity

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Heatmap of % Cloudiness

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Heatmap of Wind Speed (mph)

In [11]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
windspeed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=windspeed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Vacation Questionnaire

In [30]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

In [31]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Butaritari,18,KI,2021-03-28 13:43:59,79,3.0707,172.7902,80.92,12.08
5,5,Atuona,100,PF,2021-03-28 13:44:00,71,-9.8000,-139.0333,80.92,18.48
7,7,Avarua,75,CK,2021-03-28 13:44:00,83,-21.2078,-159.7750,80.60,16.11
8,8,Carnarvon,1,AU,2021-03-28 13:44:01,89,-24.8667,113.6333,78.80,6.91
11,11,Knysna,20,ZA,2021-03-28 13:44:01,68,-34.0363,23.0471,69.80,14.97
18,18,Bredasdorp,100,ZA,2021-03-28 13:44:03,60,-34.5322,20.0403,69.80,20.71
20,20,Camocim,37,BR,2021-03-28 13:41:28,76,-2.9022,-40.8411,81.99,4.72
24,24,Rikitea,8,PF,2021-03-28 13:44:04,75,-23.1203,-134.9692,78.06,16.08
26,26,Saint-Pierre,75,RE,2021-03-28 13:44:05,70,-21.3393,55.4781,84.20,6.91
27,27,Vaini,90,TO,2021-03-28 13:44:05,100,-21.2000,-175.2000,77.00,8.05

In [32]:
#Find Nulls
#preferred_cities_df.notnull().sum()
preferred_cities_df.count()
#preferred_cities_df.isnull().sum()

City_ID       250
City          250
Cloudiness    250
Country       245
Date          250
Humidity      250
Lat           250
Lng           250
Max Temp      250
Wind Speed    250
dtype: int64

In [33]:
preferred_cities_df = preferred_cities_df.dropna() #Remove records with missing Countries, etc...

In [38]:
#removing cities with high humidity
preferred_cities_df.loc[(preferred_cities_df["Humidity"] < 88)].count() #trying to avoid high humidity

City_ID       201
City          201
Cloudiness    201
Country       201
Date          201
Humidity      201
Lat           201
Lng           201
Max Temp      201
Wind Speed    201
dtype: int64

In [39]:
preferred_cities_df = preferred_cities_df.loc[(preferred_cities_df["Humidity"] < 88)] #reducing the list to less than 200
preferred_cities_df.count()

City_ID       201
City          201
Cloudiness    201
Country       201
Date          201
Humidity      201
Lat           201
Lng           201
Max Temp      201
Wind Speed    201
dtype: int64

In [40]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0     Butaritari      KI     80.92   3.0707  172.7902
5         Atuona      PF     80.92  -9.8000 -139.0333
7         Avarua      CK     80.60 -21.2078 -159.7750
11        Knysna      ZA     69.80 -34.0363   23.0471
18    Bredasdorp      ZA     69.80 -34.5322   20.0403
20       Camocim      BR     81.99  -2.9022  -40.8411
24       Rikitea      PF     78.06 -23.1203 -134.9692
26  Saint-Pierre      RE     84.20 -21.3393   55.4781
31      Takoradi      GH     84.74   4.8845   -1.7554
32          Auki      SB     77.56  -8.7676  160.7034

In [41]:
# Set parameters to search for a hotel. distance in meters
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [42]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    city_location = row["City"] + ", " + row["Country"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    geolocation = params["location"]
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print(f"Hotel not found for {city_location}, {geolocation}... skipping.")

Hotel not found for Beloha, MG, -25.1667,45.05... skipping.
Hotel not found for Awjilah, LY, 29.1081,21.2869... skipping.
Hotel not found for Sapa, PH, 5.1544,120.3241... skipping.
Hotel not found for Jinji, CN, 23.2281,110.8261... skipping.
Hotel not found for Thinadhoo, MV, 0.5333,72.9333... skipping.
Hotel not found for Nalut, LY, 30.3333,10.85... skipping.
Hotel not found for Mgandu, TZ, -5.95,34.1333... skipping.
Hotel not found for Uruzgan, AF, 32.8333,66.0... skipping.

In [43]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Butaritari,KI,80.92,3.0707,172.7902,Isles Sunset Lodge
5,Atuona,PF,80.92,-9.8000,-139.0333,Villa Enata
7,Avarua,CK,80.60,-21.2078,-159.7750,Paradise Inn
11,Knysna,ZA,69.80,-34.0363,23.0471,Protea Hotel by Marriott Knysna Quays
18,Bredasdorp,ZA,69.80,-34.5322,20.0403,Bredasdorp Country Manor
...,...,...,...,...,...,...
571,Pisco,PE,71.60,-13.7000,-76.2167,Hotel San Isidro Oficial
572,Ko Samui,TH,84.20,9.5357,99.9357,"The Passage Samui Villas & Resort, Thailand"
576,Ratnagiri,IN,82.31,16.9833,73.3000,Hotel Landmark
579,Hukuntsi,BW,84.90,-24.0000,21.7500,Entabeni Hotel
580,Port Augusta,AU,66.20,-32.5000,137.7667,Majestic Oasis Apartments

In [44]:
# Add a heatmap of temperature for the vacation spots.
# and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations) #adding markers
fig.add_layer(heat_layer)
fig.add_layer(marker_layer) #adding markers to figure
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
type(hotel_info)

list

# Vacation spots in desired Temperatures

In [48]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))